.pagetop {
  margin: 50px 3vw 0;
  @include vender(display, flex);
  justify-content: flex-end;

  &__text {
    padding: 5px 10px;
    border-radius: 5px 5px 0 0;
    background: unquote("rgba(#{$color-primary-dark}, 1)");
    color: unquote("rgba(#{$color-white}, 1)");
    font-weight: bold;
    @include vender(display, inline-flex);
    justify-content: center;
    align-items: center;

    &:hover {
      color: unquote("rgba(#{$color-white}, 1)");
    }
  }
}
