.tel {
  padding: 0;

  &__number {
    margin: 0;
    padding: 0;
    color: unquote("rgba(#{$color-primary-dark}, 1)");
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
    border-bottom: 1px dotted unquote("rgba(#{$palette-grey-900}, 1)");

    @include query(tablet) {
      border: none;
    }

    @include query(phone) {
      font-size: 7vw;
    }
  }

  &__dial-icon {
    margin: 1px 3px 0;
    padding: 0 4px;
    background: unquote("rgba(#{$color-primary-dark}, 1)");
    color: unquote("rgba(#{$color-white}, 1)");
    font-size: 18px;
  }

  &__phone-icon {
    font-size: 28px;
  }

  &__sub-number {
    color: unquote("rgba(#{$color-black}, 1)");
    font-size: 12px;
  }

  &__text {
    margin: 0;
    padding: 2px 0;
    color: unquote("rgba(#{$palette-grey-900}, 1)");
    font-size: 12px;
    text-align: center;

    @include query(tablet) {
      padding: 2px;
      font-size: 2vw;
    }

    &--bg {
      background: unquote("rgba(#{$color-primary-dark}, 1)");
      color: unquote("rgba(#{$color-white}, 1)");

      @include query(tablet) {
        background: unquote("rgba(#{$color-primary-dark}, 1)");
      }
    }
  }
}
